.panel {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  
  .header {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .status_bar {
    margin: 8px 0;
  }

  .answer_input {
    margin: 8px 0;
    padding: 8px;
    border: 1px solid var(--xy-edge-stroke-default);
    border-radius: 4px;
    background-color: var(--xy-node-background-color);
  }

  .log_panel {
    flex: 1;
  }
}

.output_pre {
  font-size: 12px;
  overflow: auto;
  margin: 0 8px 0 0;
  white-space: pre-wrap;
  word-break: break-all;
  background-color: var(--deep-color);
  padding: 4px;
  border-radius: 4px;
}
